@font-face {
    font-family: myFirstFont;
    src: url(pics&fonts/Christmas.otf);
 }
@font-face {
font-family: my2Font;
src: url(pics&fonts/font.ttf);
}
#intro{
    font-size: 50px;
    font-weight: 400;
    color: beige;
    font-family: myFirstFont;
    animation: color-change 5s infinite;
    height: 15%;
}
@keyframes color-change {
0% {
    color:rgb(88, 255, 160)
}
20%{
    color: rgb(86, 255, 201)
}
40% {
    color: rgb(100, 116, 255)
}
60% {
    color: rgb(224, 67, 251)
}
80% {
    color: rgb(246, 76, 88)
}
100% {
    color: rgb(249, 188, 66)
}
} 
#left{
    left: 60px;
    position: relative;
    float: left;
    width: 45%;
    text-align: center;
    color: rgb(246, 246, 190);
    font-family: my2font;
    font-size: 50px;
    font-weight: 75px;
}
#right{
    top: 30px;
    position: relative;
    color: bisque;
    text-align: center;
    width: 45%;
    animation: color-change 3s infinite;
    font-size: 25px;
    font-family: myFirstFont;
    float: right;
}
@keyframes color-change {
0% {
    color:rgb(89, 218, 145)
}
50%{
    color: rgb(255, 165, 86)
}
100% {
    color: rgb(255, 141, 240)
}
}
img
{ animation: fadeIn 5s; }
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }