@font-face {
    font-family: myFont;
    src: url(pics&fonts/Legend\ of\ the\ Elves.ttf);
    }
#left{
    float: left;
    width: 45%;
    left: 60px;
    position: relative;
    font-family: myFont;
}
#right{
    top: 30px;
    right: 150px;
    position: relative;
    text-align: center;
    font-size: 25px;
    float: right;
}
span{
    padding: 15px;
    font-size: 25px;
    font-style:oblique;
    font-weight: 10px;
    width: 80%;
    color: azure;
    ;
  }
  
#sch,#ach {
    padding: 15px;
    font-size: 15pxm;
    color: rgb(255, 245, 101);
    margin: 5px;
    line-height: 3;
    width: 70%;
  }