ul{
    margin-top:auto;
    position: relative;
    left: 100px;
    line-height: 2;
    font-size: 30px;
}
li{
    color: rgb(251, 251, 69);
    background-color: rgba(127, 255, 212, 0.333);
    width: 84%;
    border-radius: 10px;
    text-align: center;
}
li:hover{
    color: rgb(255, 149, 149);
    background-color: rgba(105, 245, 121, 0.333);
    width: 84%;
    border-radius: 10px;
}
@font-face {
    font-family: myFont;
    src: url(Christmas.otf);
    }
.text{
    color: rgb(253, 83, 4);
    font-size: 50px;
    text-align: center;
    font-family: myFont;
}
